{% extends 'base.html'%}
{% block title %}
    <title>Change password</title>
{% endblock %}

{% block CSS %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='stylesheet/passwd-strength.css') }}">
{% endblock %}

{% block content %}
    <div class="top-section">
        <div class="container">
            <div class="inside-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="page-heading">
                                <div class="breadcrumbs">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul>
                                                <li class="home"> <a href="index.html" title="Go to Home Page">Home</a>
                                                    <span>&rsaquo; </span> </li>
                                                <li class="category1601"> <strong>Change password</strong> </li>
                                            </ul>
                                        </div>
                                        <!--col-xs-12-->
                                    </div>
                                    <!--row-->
                                </div>
                                <div class="page-title">
                                    <h2>Change password</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="desc-text">
                <div class="container">
                    <p><em>"</em>The way they have decorated the place is just fab..and ..wow. talking of the menu..quite
                        interesting with multiple options.There is something for everyone. The bar menu is equally awesome
                        ....
                        Overall, I don't think anyone who goes in and come out dissatisfied from this place<em>"</em>
                        <br><span>- Stephen Doe, Happy Customer</span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN Main Container -->

    <div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">
        <div class="main container">
            <div class="account-login">
                <!--page-title-->

                <form action="" method="post" id="login-form">
                    <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
                    <fieldset class="col2-set">
                        <div class="col-2 registered-users"> <strong>Change password</strong>
                            <div class="content">

                                {% for message in get_flashed_messages() %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <ul class="form-list">
                                    <li>
                                        <h2 for="Username">Username: {{ current_user.username }} </h2>
                                    </li>
                                    <li>
                                        <h2 for="email">Email Address: {{ current_user.email }}</h2>
                                    </li>

                                    <li>
                                        <div>
                                            <label for="pass">Confirm Password<em class="required">*</em></label>
                                            <div class="eye_icon"></div>
                                        </div>
                                        <div class="input-box">
                                            <input type="password" required name="password"
                                                   class="input-text required-entry validate-password" id="pass1"
                                                   title="Password" placeholder="Please input the old password.">
                                        </div>
                                    </li>
                                </ul>
                                <p class="required">* Required Fields</p>
                                <div class="buttons-set">
                                    <button type="submit" class="button login" title="Login" name="send"
                                            id="send2"><span>Next Step</span></button>

                                    <!--buttons-set-->
                                </div>
                                <!--content-->
                            </div>
                        </div>
                            <!--col-2 registered-users-->
                    </fieldset>
                    <!--col2-set-->
                </form>
            </div>
            <!--account-login-->

        </div>
        <!--main-container-->

    </div>
    <!--col1-layout-->


{% endblock %}

{% block JS %}
    <script type="text/javascript" src={{ url_for('static',filename="js/passwd-strength.js") }}></script>
{% endblock %}