{% extends 'base.html' %}
{% block title %}
<title>Vmarto Grid Page</title>
{% endblock %}

{% block content %}
<div class="top-section">
    <div class="container">
        <div class="inside-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-heading">
                            <div class="breadcrumbs">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <ul>
                                            <li class="home"> <a href="{{ url_for('index') }}" title="Go to Home Page">Home</a>
                                                <span>&rsaquo;
                                                </span>
                                            </li>
                                            <li class="category1601"> <strong>Vegetables</strong> </li>
                                        </ul>
                                    </div>
                                    <!--col-xs-12-->
                                </div>
                                <!--row-->
                            </div>
                            <div class="page-title">
                                <h2>Vegetables</h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="desc-text">
            <div class="container">
                <p>Over the years we’ve perfected a wide variety of delicious salads and healthy prepared foods for
                    wholesale and private label, and we’re constantly cooking up something new to fit customer needs and
                    industry trends. </p>
            </div>
        </div>
    </div>

</div>
<!-- BEGIN Main Container col2-left -->
<section class="main-container col2-left-layout bounceInUp animated">
    <!-- For version 1, 2, 3, 8 -->
    <!-- For version 1, 2, 3 -->
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-9 col-sm-push-3 product-grid">
                <div class="pro-coloumn">
                    <div class="category-description std">
                        <div class="slider-items-products">
                            <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col1 owl-carousel owl-theme">

                                    <!-- Item -->
                                    <div class="item"> <a href="#"><img alt="" src={{ url_for('static',
                                                filename="images/category-img1.jpg" ) }}></a>
                                        <div class="cat-img-title cat-bg cat-box">
                                            <div class="small-tag">Season 2020</div>
                                            <h2 class="cat-heading">Organic <span>World</span></h2>
                                            <p>GET 40% OFF &sdot; Free Delivery </p>
                                        </div>
                                    </div>
                                    <!-- End Item -->

                                    <!-- Item -->
                                    <div class="item"> <a href="#"><img alt="" src={{ url_for('static',
                                                filename="images/category-img2.jpg" )}}></a>
                                        <div class="cat-img-title cat-bg cat-box">
                                            <div class="small-tag">Green World</div>
                                            <h2 class="cat-heading">Vegetable <span>sale</span></h2>
                                            <p>Save 70% on all items</p>
                                        </div>
                                        <!-- End Item -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <article>
                        <div class="toolbar">
                         <form action="{{ url_for('sort_keyword') }}" role="search" method="post">
                            <div class="row" style="margin: 20px;">
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search by product keyword" name="keyword">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Search</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                            </div><!-- /.row -->
                             <div class="sorter">
                                    <div class="view-mode"> <span title="Grid" class="button button-active button-grid">&nbsp;</span></div>
                             </div>
                         </form>
                            <div class="sort-by">
                                <label class="left">Sort By: </label>
                                <ul>
                                    <li><a href="#">Position<span class="right-arrow"></span></a>
                                        <ul>
                                            <li><a href="#">Name</a></li>
                                            <li><a href="#">Price</a></li>
                                            <li><a href="#">Position</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <a class="button-asc left" href="#" title="Set Descending Direction"><span
                                        class="top_arrow"></span></a>
                            </div>
                            <div class="pager">
                                <div class="pages">
                                    <label>Page:</label>
                                    <ul class="pagination">
                                        {% if products.has_prev %}
                                        <li><a href="{{ url_for('grid', page = products.page - 1) }}">«</a></li>
                                        {% else %}
                                        <li><a>«</a></li>
                                        {% endif %}
                                        {% for page_num in products.iter_pages() %}
                                        {% if products.page == page_num %}
                                        <li class="active"><a href="{{url_for('grid', page = page_num)}}">{{ page_num
                                                }}</a></li>
                                        {% else %}
                                        <li><a href="{{url_for('grid', page = page_num)}}">{{ page_num }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if products.has_next %}
                                        <li><a href="{{ url_for('grid', page = products.page + 1) }}">»</a></li>
                                        {% else %}
                                        <li><a>»</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="category-products">
                            <ul class="products-grid">
                                {% for product in products.items %}
                                <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="{{ url_for('productdetail', product_id = product.id) }}"
                                                    title="Fresh Organic Mustard Leaves " class="product-image">
                                                    <img src="{{url_for('static', filename=product.picture_path)}}"
                                                        alt="Fresh Organic Mustard Leaves ">
                                                </a>
                                            </div>
                                            <!-- {# <form action="{{ url_for('add_cart')}}" method="post">#} -->
                                            <div class="add_cart">
                                                <button class="button btn-cart" value={{product.id}} id='add'
                                                    onclick="add_to_cart($(this))"><span>Add to Cart</span></button>
                                            </div>

                                            <!-- </form> -->

                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a
                                                        href="{{ url_for('productdetail', product_id = product.id) }}"
                                                        title=product.name>{{ product.name }} </a> </div>
                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <div class="rating" style="width:80%"></div>
                                                            </div>
                                                            <p class="rating-links"><a href="#">1 Review(s)</a> <span
                                                                    class="separator">|</span>
                                                                <a href="#">Add Review</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="item-price">
                                                        <div class="price-box"><span class="regular-price"><span
                                                                    class="price">${{ product.price }}</span>
                                                            </span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                </div>
                <!--	///*///======    End article  ========= //*/// -->
            </div>
            <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
                <!-- BEGIN SIDE-NAV-CATEGORY -->
                <!--side-nav-categories-->
                <div class="block block-layered-nav">
                    <div class="block-title"> Shop By </div>
                    <div class="block-content">
                        <p class="block-subtitle">Shopping Options</p>
                            <dl id="narrow-by-list">
                                <dt class="odd">Price</dt>
                                <dd class="odd">
                                    <ol>
                                        <li> <a href="{{ url_for('sort_less100') }}"><span class="price">$0.00</span> - <span
                                                    class="price">$99.99</span></a>
                                        </li>
                                        <li> <a href="{{ url_for('sort_above100') }}"><span class="price">$100.00</span> and above</a></li>
                                    </ol>
                                </dd>
                                <dt class="odd">Color</dt>
                                <dd class="odd">
                                    <ol>
                                        <li> <a href="{{ url_for('sort_green') }}">Green</a> </li>
                                        <li> <a href="{{ url_for('sort_red') }}">Red</a> </li>
                                        <li> <a href="{{ url_for('sort_yellow') }}">Yellow</a> </li>
                                        <li> <a href="{{ url_for('sort_purple') }}">Purple</a> </li>
                                    </ol>
                                </dd>
                                <dt class="last even">Size</dt>
                                <dd class="last even">
                                    <ol>
                                        <li> <a href="{{ url_for('sort_small') }}">Small</a> </li>
                                        <li> <a href="{{ url_for('sort_medium') }}">Medium</a> </li>
                                        <li> <a href="{{ url_for('sort_large') }}">Large</a> </li>
                                    </ol>
                                </dd>
                            </dl>
                    </div>
                </div>
                <div class="custom-slider">
                    <div>
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li class="active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active"><img src={{ url_for('static', filename="images/slide2.jpg" ) }}
                                        alt="slide3">
                                    <div class="carousel-caption">
                                        <h4>Fruit Shop</h4>
                                        <h3><a title=" Sample Product" href="product-detail.html">Up to 70% Off</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a class="link" href="#">Buy Now</a>
                                    </div>
                                </div>
                                <div class="item"><img src={{ url_for('static', filename="images/slide3.jpg" ) }}
                                        alt="slide1">
                                    <div class="carousel-caption">
                                        <h4>Black Grapes</h4>
                                        <h3><a title=" Sample Product" href="product-detail.html">Mega Sale</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a class="link" href="#">Buy Now</a>
                                    </div>
                                </div>
                                <div class="item"><img src={{ url_for('static', filename="images/slide1.jpg" ) }}
                                        alt="slide2">
                                    <div class="carousel-caption">
                                        <h4>Food Farm</h4>
                                        <h3><a title=" Sample Product" href="product-detail.html">Up to 50% Off</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a class="link" href="#">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span
                                    class="sr-only">Previous</span> </a> <a class="right carousel-control"
                                href="#carousel-example-generic" data-slide="next"> <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="block block-list block-cart">
                    <div class="block-title"> My Cart </div>
                    <div class="block-content">
                        <div class="summary">
                            <p class="amount">There is <a href="#">{{ g.cart_products_num }} item</a> in your cart.</p>
                            <p class="subtotal"> <span class="label">Cart Subtotal:</span> <span class="price">${{
                                    g.total_price }}</span>
                            </p>
                        </div>
                        <a href="{{ url_for('cart') }}">
                            <div class="ajax-checkout">
                                <button type="button" title="Checkout" class="button button-checkout">
                                    <span>Checkout</span>
                                </button>
                            </div>
                        </a>
                        <p class="block-subtitle">Recently cart_productadded item(s)</p>
                        <ul id="cart-sidebar1" class="mini-products-list">
                            {% for cart_product in g.cart_products[-3:]%}
                            <li class="item">
                                <div class="item-inner">
                                    <a href="{{ url_for('productdetail', product_id = cart_product.product_id) }}"
                                        class="product-image"><img
                                            src="{{ url_for('static', filename=cart_product.product.picture_path) }}"
                                            width="80" alt="product"></a>
                                    <div class="product-details">
                                        <div class="access"> <a class="btn-remove1" data-product-id={{
                                                cart_product.product_id }}>Remove</a> <a href="" title="Edit item"
                                                class="btn-edit"> <i class="icon-pencil"></i><span class="hidden">Edit
                                                    item</span></a></div>
                                        <!--access-->
                                        <strong>{{ cart_product.number }}</strong> x <span class="price">${{
                                            cart_product.product.price }}</span>
                                        <p class="product-name"><a
                                                href="{{ url_for('productdetail', product_id = cart_product.product_id) }}">{{
                                                cart_product.product.name }} </a></p>
                                    </div>
                                    <!--product-details-bottoms-->
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </aside>
            <!--col-right sidebar-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</section>
<!--main-container col2-left-layout-->


{% endblock %}

{% block JS %}
    <script>
        function add_to_cart(data) {
            var id = data.attr('value');
            console.log(data.attr('value'));
            $.ajax({
                url: '/addcart/',
                type: 'POST',
                data: { product_id: id },
                success: function () {
                    location.reload();
                    {#console.log(222);#}
                }
            });
        }
    </script>
    <script type="text/javascript" src={{ url_for('static',filename="js/jquery.bxslider.min.js" ) }}></script>

{% endblock %}