{% extends 'base.html'%}
{% block title %}
    <title>home</title>
{% endblock %}
{% block container %}
    <!--container-->
    <div class="content">
        <div id="thmg-slider-slideshow" class="thmg-slider-slideshow">
            <div id='thm_slider_wrapper' class='thm_slider_wrapper fullwidthbanner-container' >
                <div id='thm-rev-slider' class='rev_slider fullwidthabanner'>
                    <ul>
                        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb="{{ url_for('static', filename='images/slide-img1.jpg') }}"><img src='{{ url_for('static',filename="images/slide-img1.jpg") }}'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="slider-image1" />
                            <div class="info">
                                <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='0'  data-y='220'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'><span>Fresh Food</span></div>
                                <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='0'  data-y='300'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'>Simply <span>delicious</span></div>
                                <div class='tp-caption sfb  tp-resizeme ' data-x='0'  data-y='520'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='{{ url_for('grid') }}' class="buy-btn">Shop Now</a></div>
                                <div    class='tp-caption Title sft  tp-resizeme ' data-x='0'  data-y='420'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'>We supply highly quality organic products</div>
                            </div>
                        </li>
                        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb="{{ url_for('static', filename='images/slide-img2.jpg') }}"><img src='{{ url_for('static',filename="images/slide-img2.jpg") }}'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="slider-image2"  />
                            <div class="info">
                                <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='0'  data-y='220'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'><span>Fresh Look</span></div>
                                <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='0'  data-y='300'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'><span>100%</span> Organic</div>
                                <div class='tp-caption sfb  tp-resizeme ' data-x='0'  data-y='520'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='#' class="buy-btn">Shop Now</a></div>
                                <div    class='tp-caption Title sft  tp-resizeme ' data-x='0'  data-y='420'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'>Farm Fresh Produce Right to Your Door</div>
                            </div>
                        </li>
                        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb="{{ url_for('static', filename='images/slide-img3.jpg') }}"><img src='{{ url_for('static',filename="images/slide-img3.jpg") }}'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="slider-image2"  />
                            <div class="info">
                                <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='0'  data-y='220'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'><span>Fresh Look</span></div>
                                <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='0'  data-y='300'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'><span>100%</span> Organic</div>
                                <div class='tp-caption sfb  tp-resizeme ' data-x='0'  data-y='520'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='#' class="buy-btn">Shop Now</a></div>
                                <div    class='tp-caption Title sft  tp-resizeme ' data-x='0'  data-y='420'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'>Farm Fresh Produce Right to Your Door</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-banner">
        <div class="assetBlock">
            <div id="slideshow">
                <p>Special Offers! - Get <span>50%</span> off on vegetables </p>
                <p>sale <span>40%</span> of  on bulk shopping! </p>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="content">
        <div class="container">
            <!--Category slider Start-->
            <div class="top-cate">
                <h2>Top Categories</h2>
                <p>So you get to know me better</p>
                <div class="featured-pro container">
                    <div class="row">
                        <div class="slider-items-products">
                            <div id="top-categories" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4 products-grid">
                                    {% for product in products[0:11] %}
                                        <div class="item"> <a href="{{url_for('productdetail', product_id = product.id)}}">
                                            <div class="pro-img"><img src="{{url_for('static',filename=product.picture_path) }}" alt="{{product.name}}">
                                                <div class="pro-info">{{ product.name }}</div>
                                            </div>
                                        </a> </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Category silder End-->
        </div>

        <!-- best Pro Slider -->
        <section class="best-pro">
            <div class="slider-items-products container">
                <div class="new_title top-border">
                    <h2>Best Seller</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy habitant morbi.</p>
                </div>
                <div id="best-seller" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col4 products-grid">
                        {% for product in products[11:16] %}
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info"><a href="{{ url_for('productdetail', product_id = product.id) }}" title="Fresh Organic Mustard Leaf " class="product-image"><img src="{{url_for('static',filename=product.picture_path) }}" alt="sample dish"></a>
                                        </div>
                                            <div class="add_cart">
                                                <button class="button btn-cart"  type="submit" value={{product.id}} name='add' onclick="add_to_cart($(this))"><span>Add to Cart</span></button>
                                            </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"><a href="{{ url_for('productdetail', product_id = product.id) }}" title="Fresh Organic Mustard Leaf">{{ product.name }} </a> </div>
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:80%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-content">
                                                <div class="item-price">
                                                    <div class="price-box"><span class="regular-price" ><span class="price">${{ product.price }}</span> </span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <div class="mid-section">
            <div class="container">
                <div class="row">
                    <h3>Why Organic?</h3>
                    <h2>Healthy and fresh Fruits</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="block1"> <strong>fresh from our farm</strong>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy habitant morbi.</p>
                        </div>
                        <div class="block2"> <strong>100% organic Foods</strong>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy habitant morbi.</p>
                        </div>
                        <div class="block3"> <strong>Good for health</strong>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy habitant morbi.</p>
                        </div>
                        <div class="block4"> <strong>Safe From Pesticides</strong>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy habitant morbi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- best Pro Slider -->
        <section class="best-pro best-pro1">
            <div class="slider-items-products container">
                <div class="new_title">
                    <h2>Deal of the week</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy habitant morbi.</p>
                    <div class="box-timer">
                        <div class="countbox_1 timer-grid"></div>
                    </div>
                </div>
                <div id="best-rest" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col4 products-grid">
                        {% for product in products[12:20] %}
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info"><a href="{{ url_for('productdetail', product_id = product.id) }}" title="Fresh Organic Mustard Leaf " class="product-image"><img src="{{url_for('static',filename=product.picture_path) }}" alt="sample dish"></a>
                                        </div>
                                        <div class="add_cart">
                                            <button class="button btn-cart" type="button"  onclick="add_to_cart($(this))" value={{ product.id }}><span>Add to Cart</span></button>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"><a href="{{ url_for('productdetail', product_id = product.id) }}" title="Fresh Organic Mustard Leaf">{{ product.name }}</a> </div>
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:80%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-content">
                                                <div class="item-price">
                                                    <div class="price-box"><span class="regular-price" ><span class="price">${{ product.price }}</span> </span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <div class="hot-section">
            <div class="testimonials-section slider-items-products">
                <div  id="testimonials" class="offer-slider parallax parallax-2">
                    <div class="slider-items slider-width-col6">
                        <div class="item">
                            <div class="avatar"><img src="{{url_for('static',filename='images/member1.png') }}" alt="Image"></div>
                            <div class="testimonials">Perfect Themes and the best of all that you have many options to choose! Very fast responding! I highly recommend this theme and these people!</div>
                            <div class="clients_author"> Smith John <span>Happy Customer</span> </div>
                        </div>
                        <div class="item">
                            <div class="avatar"><img src="{{url_for('static',filename='images/member2.png') }}" alt="Image"></div>
                            <div class="testimonials">Code, template and others are very good. The support has served me immediately and solved my problems when I need help. Are to be congratulated.</div>
                            <div class="clients_author"> Karla Anderson <span>Happy Customer</span> </div>
                        </div>
                        <div class="item">
                            <div class="avatar"><img src="{{url_for('static',filename='images/member3.png') }}" alt="Image"></div>
                            <div class="testimonials">Our support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</div>
                            <div class="clients_author"> Stephen Smith <span>Happy Customer</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home Lastest Blog Block -->
        <div class="latest-blog">
            <div class="container">
                <div class="new_title">
                    <h2>Latest News</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy habitant morbi.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
                        <div class="blog_inner">
                            <div class="blog-img"> <a href="blog-detail.html"> <img src="{{url_for('static',filename='images/blog-img1.jpg') }}" alt="blog image"> </a>
                                <div class="mask"> <a class="info" href="blog-detail.html">Read More</a> </div>
                            </div>
                            <!--blog-img-->
                            <div class="blog-info">
                                <h3><a href="blog-detail.html">Powerful and flexible premium Ecommerce themes</a></h3>
                            </div>
                        </div>
                        <!--blog_inner-->
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
                        <div class="blog_inner">
                            <div class="blog-img"> <a href="blog-detail.html"> <img src="{{url_for('static',filename='images/blog-img2.jpg') }}" alt="blog image"> </a>
                                <div class="mask"> <a class="info" href="blog-detail.html">Read More</a> </div>
                            </div>
                            <!--blog-img-->
                            <div class="blog-info">
                                <h3><a href="blog-detail.html">Awesome template with lot's of features on the board!</a></h3>
                            </div>
                        </div>
                        <!--blog_inner-->
                    </div>

                    <!--col-lg-4 col-md-4 col-xs-12 col-sm-4-->
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
                        <div class="blog_inner">
                            <div class="blog-img"> <a href="blog-detail.html"> <img src="{{url_for('static',filename='images/blog-img3.jpg') }}" alt="blog image"> </a>
                                <div class="mask"> <a class="info" href="blog-detail.html">Read More</a> </div>
                            </div>
                            <!--blog-img-->
                            <div class="blog-info">
                                <h3><a href="blog-detail.html">Awesome template with lot's of features on the board!</a></h3>
                            </div>
                        </div>
                        <!--blog_inner-->
                    </div>
                </div>
            </div>
            <!--container-->
        </div>

        <!-- Logo Brand Block -->

    </div>
{% endblock %}



{% block JS %}
    <!-- JavaScript -->
    <script>
        function add_to_cart(data) {
            var id = data.attr('value');
            console.log(data.attr('value'));
            $.ajax({
                url: '/addcart/',
                type: 'POST',
                data: { product_id: id },
                success: function () {
                    location.reload();
                    {#console.log(222);#}
                }
            });
        }
    </script>
    <script src="{{ url_for('static',filename="js/revslider.js") }}"></script>
    <script src="{{ url_for('static',filename="js/jquery.bxslider.min.js") }}"></script>
    <script src="{{ url_for('static',filename="js/countdown.js") }}"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('#thm-rev-slider').show().revolution({
                dottedOverlay: 'none',
                delay: 5000,
                startwidth: 0,
                startheight:750,

                hideThumbs: 200,
                thumbWidth: 200,
                thumbHeight: 50,
                thumbAmount: 2,

                navigationType: 'thumb',
                navigationArrows: 'solo',
                navigationStyle: 'round',

                touchenabled: 'on',
                onHoverStop: 'on',

                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,

                spinner: 'spinner0',
                keyboardNavigation: 'off',

                navigationHAlign: 'center',
                navigationVAlign: 'bottom',
                navigationHOffset: 0,
                navigationVOffset: 20,

                soloArrowLeftHalign: 'left',
                soloArrowLeftValign: 'center',
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: 'right',
                soloArrowRightValign: 'center',
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,

                shadow: 0,
                fullWidth: 'on',
                fullScreen: 'on',

                stopLoop: 'off',
                stopAfterLoops: -1,
                stopAtSlide: -1,

                shuffle: 'off',

                autoHeight: 'on',
                forceFullWidth: 'off',
                fullScreenAlignForce: 'off',
                minFullScreenHeight: 0,
                hideNavDelayOnMobile: 1500,

                hideThumbsOnMobile: 'off',
                hideBulletsOnMobile: 'off',
                hideArrowsOnMobile: 'off',
                hideThumbsUnderResolution: 0,

                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
                fullScreenOffsetContainer: ''
            });
        });
    </script>

    <!-- Hot Deals Timer 1-->
    <script>
        var dthen1 = new Date("12/25/17 11:59:00 PM");
        start = "08/04/15 03:02:11 AM";
        start_date = Date.parse(start);
        var dnow1 = new Date(start_date);
        if (CountStepper > 0)
            ddiff = new Date((dnow1) - (dthen1));
        else
            ddiff = new Date((dthen1) - (dnow1));
        gsecs1 = Math.floor(ddiff.valueOf() / 1000);

        var iid1 = "countbox_1";
        CountBack_slider(gsecs1, "countbox_1", 1);
    </script>
    <script>
        jQuery(document).ready(function() {
// site preloader -- also uncomment the div in the header and the css style for #preloader
            jQuery('#preloader').fadeOut('slow',function(){$(this).remove();});
        });

    </script>
{% endblock %}