{% extends 'base.html' %}
{% block title %}
    <title>Multiple Address Page</title>
{% endblock %}
{% block content %}

    <div class="main-container col1-layout container" style="visibility: visible;">
        <div class="main container">
            <!--state_bar-->
            <div class="multiple_addresses multiple-checkout">
                <div class="table-responsive">
                    <form id="checkout_multishipping_form" action="" method="post">
                        <div class="page-title_multi">
                            <h2>Ship to Multiple Addresses</h2>
                        </div>
                        <!--page-title_multi-->
                        <div class="title-buttons">
                            <button type="button" title="Enter a New Address" class="button new-address" onClick="$(&#39;add_new_address_flag&#39;).value=1; $(&#39;checkout_multishipping_form&#39;).submit();"><span>Enter a New Address</span></button>
                        </div>
                        <!--title-buttons-->
                        <div class="addresses">
                            <fieldset class="">
                                <input type="hidden" name="continue" value="0" id="can_continue_flag">
                                <input type="hidden" name="new_address" value="0" id="add_new_address_flag">
                                <p>Please select shipping address for applicable items</p>
                                <table class="data-table table-striped" id="multiship-addresses-table">
                                    <colgroup>
                                        <col>
                                        <col width="1">
                                        <col width="1">
                                        <col width="1">
                                    </colgroup>
                                    <thead>
                                    <tr class="first last">
                                        <th>Product</th>
                                        <th class="a-center">Qty</th>
                                        <th>Send To</th>
                                        <th>Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="first odd">
                                        <td><h3 class="product-name"><a href="product-detail.html">Fresh Organic Mustard Leaves</a></h3></td>
                                        <td><input type="text" name="ship[0][24761][qty]" value="1" size="2" class="input-text qty"></td>
                                        <td><select name="ship[0][24761][address]" id="ship_0_24761_address" class="" title="">
                                            <option value="1" selected="selected">john doe, Street road, AL, Alabama 42136, United States</option>
                                        </select></td>
                                        <td class="a-center last"><a class="btn-remove btn-remove2" href="#" title="Remove Item"></a></td>
                                    </tr>
                                    <tr class="even">
                                        <td><h3 class="product-name"><a href="product-detail.html">Fresh Organic Mustard Leaves</a></h3></td>
                                        <td><input type="text" name="ship[1][24761][qty]" value="1" size="2" class="input-text qty"></td>
                                        <td><select name="ship[1][24761][address]" id="ship_1_24761_address" class="" title="">
                                            <option value="1" selected="selected">john doe, Street road, AL, Alabama 42136, United States</option>
                                        </select></td>
                                        <td class="a-center last"><a class="btn-remove btn-remove2" href="#" title="Remove Item"></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                            <!--multiple-checkout-->
                        </div>
                        <!--addresses-->

                    </form>
                </div>
                <!--table-responsive-->

            </div>
            <!--multiple_addresses-->
        </div>
        <!--main-container-->

    </div>
    <!--col1-layout-->
{% endblock %}



{% block JS %}
    <script type="text/javascript" src={{ url_for('static',filename="js/jquery.bxslider.min.js" ) }}></script>
    <script type="text/javascript" src={{ url_for('static',filename="js/jquery.flexslider.js" ) }}></script>
{% endblock %}
