{% extends 'base.html' %}
{% block title %}
<title>Shopping Cart Page</title>
{% endblock %}

{% block content %}


<div class="top-section">
  <div class="container">
    <div class="inside-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-heading">
              <div class="breadcrumbs">
                <div class="row">
                  <div class="col-xs-12">
                    <ul>
                      <li class="home"> <a href="{{ url_for('index') }}" title="Go to Home Page">Home</a> <span>&rsaquo; </span>
                      </li>
                      <li class="category1601"> <strong>Shopping Cart</strong> </li>
                    </ul>
                  </div>
                  <!--col-xs-12-->
                </div>
                <!--row-->
              </div>
              <div class="page-title">
                <h2>Shopping Cart</h2>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="desc-text">
      <div class="container">
        <p>Over the years we’ve perfected a wide variety of delicious salads and healthy prepared foods for wholesale
          and private label, and we’re constantly cooking up something new to fit customer needs and industry trends.
        </p>
      </div>
    </div>
  </div>

</div>
<!-- BEGIN Main Container -->

<div class="main-container col1-layout wow bounceInUp animated">
  <div class="main container">
    <div class="cart wow bounceInUp animated">
      <div class="table-responsive shopping-cart-tbl  container">
{#        <form action="" method="post">#}
          <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
          <fieldset>
            <table id="shopping-cart-table" class="data-table cart-table table-striped">
              <colgroup>
                <col width="1">
                <col>
                <col width="1">
                <col width="1">
                <col width="1">
                <col width="1">
                <col width="1">
              </colgroup>
              <thead>
                <tr class="first last">
                  <th rowspan="1">&nbsp;</th>
                  <th rowspan="1"><span class="nobr">Product Name</span></th>
                  <th rowspan="1"></th>
                  <th class="a-center" colspan="1"><span class="nobr">Unit Price</span></th>
                  <th rowspan="1" class="a-center">Qty</th>
                  <th class="a-center" colspan="1">Subtotal</th>
                  <th rowspan="1" class="a-center">&nbsp;</th>
                </tr>
              </thead>
              <tfoot>
                <tr class="first last">
                  <td colspan="50" class="a-right last">
                    <a href={{ url_for('grid') }}>
                      <button type="button" title="Continue Shopping" class="button btn-continue"
                        onClick=""><span><span>Continue Shopping</span></span></button></a>
{#                    <button type="submit" name="update_cart_action" value="update_qty" title="Update Cart"#}
{#                      class="button btn-update"><span><span>Update Cart</span></span></button>#}
                      <form action="{{ url_for('clear_cart') }}", method="POST">
                          <button type="submit" name="update_cart_action" value="empty_cart" title="Clear Cart"
                            class="button btn-empty" id="empty_cart_button"><span><span>Clear Cart</span></span></button>
                      </form>
                  </td>
                </tr>
              </tfoot>
              <tbody>
                {% for cart_product in g.cart_products%}
                <tr>
                  <td class="image hidden-table">
                    <a href="{{ url_for('productdetail', product_id = cart_product.product_id) }}"
                      class="product-image">
                      <img src="{{url_for('static', filename=cart_product.product.picture_path ) }}" width="75"
                        alt="Women&#39;s Georgette Animal Print"></a>
                  </td>

                  <td>
                    <h2 class="product-name"> <a
                        href="{{ url_for('productdetail', product_id = cart_product.product_id) }}">{{
                        cart_product.product.name }}</a> </h2>
                  </td>
                  <td class="a-center hidden-table"></td>
                  <td class="a-right hidden-table"><span class="cart-price"> <span class="price">${{
                        cart_product.product.price }}</span> </span>
                  </td>
                  <td class="a-center movewishlist"><input name="cart[26340][qty]" value={{ cart_product.number }}
                      size="8" title="Qty" class="input-text qty" maxlength="50" type="number"
                      oninput="if(value<0)value=0" data-id={{ cart_product.product_id }}></td>
                  <td class="a-right movewishlist"><span class="cart-price"> <span class="price"
                        data-price={{cart_product.product.price }}>${{ cart_product.product.price * cart_product.number
                        }}</span> </span>
                  </td>
                  <td class="a-center last">
                      <a title="Remove item" class="button remove-item cart_remove" data-id = {{ cart_product.product_id }}><span><span>Remove item</span></span>
                      </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </fieldset>
{#        </form>#}
      </div>

      <!-- BEGIN CART COLLATERALS -->

      <div class="container">
        <!-- BEGIN COL2 SEL COL 1 -->
        <div class="cart-collaterals">
{#            <form action="{{ url_for('add_order') }}" method="post">#}
              <!-- BEGIN TOTALS COL 2 -->
              <div class="col-sm-8">
                <div class="shipping">
                  <h3>Choose your shipping address</h3>
                  <div class="shipping-form">
                      <ul class="form-list">
                        <li>
                          <label for="country" class="required"><em>*</em>Address</label>
                          <div class="input-box">
                              <select name="address" id="address" class="validate-select" title="address">
                                {% for address in current_user.addresses %}
                                    <option value={{ address.id }}>{{ address.street }}, {{ address.city }}, {{ address.province }}, {{ address.country }}</option>
                                {% endfor %}
                            </select>
                          </div>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="totals">
                  <h3>Shopping Cart Total</h3>
                  <div class="inner">
                    <table id="shopping-cart-totals-table" class="table shopping-cart-table-total">
                      <colgroup>
                        <col>
                        <col width="1">
                      </colgroup>
                      <tfoot>
                        <tr>
                          <td style="" class="a-left" colspan="1"><strong>Grand Total</strong></td>
                          <td style="" class="a-right"><strong><span class="price" id="subtotal">${{ g.total_price
                                }}</span></strong></td>
                        </tr>
                      </tfoot>
                      <tbody>
                        <tr>
                          <td style="" class="a-left" colspan="1"> Subtotal </td>
                          <td style="" class="a-right"><span class="price" id="grandtotal">${{ g.total_price }}</span></td>
                        </tr>
                      </tbody>
                    </table>
                    <ul class="checkout">
                      <li>
                          <button type="submit" title="Proceed to Checkout" class="button btn-proceed-checkout"
                              name="orderButton" id="checkbutton"><span>Proceed to Checkout</span></button>
                      </li>
                      <br>
                      <li><a href="{{ url_for('add_address') }}" title="Checkout with Multiple Addresses">Checkout with Multiple
                          Addresses</a> </li>
                      <br>
                    </ul>
                  </div>
                  <!--inner-->
                </div>
                <!--totals-->
              </div>
              <!--col-sm-4-->
{#            </form>#}
        </div>
        <!--cart-collaterals-->

      </div>
    </div>
    <!--cart-->

  </div>
  <!--main-container-->

</div>
<!--col1-layout-->

{% endblock %}

{% block JS %}
    <script type="text/javascript" src={{ url_for('static',filename="js/jquery.bxslider.min.js" ) }}></script>
    <script type="text/javascript" src={{ url_for('static',filename="js/jquery.flexslider.js" ) }}></script>
{% endblock %}